<tr>
  <td><%= transaction.id %></td>
  <td><%= transaction.kind %></td>
  <td><%= transaction.transaction_date %></td>
  <td><%= transaction.time_only %></td>
  <td><%= transaction.social_number %></td>
  <td><%= transaction.card_number %></td>
  <td><%= transaction.amount_operation %></td>
</tr>
